In [1]:
import pandas as pd
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [2]:
fips_file = "Resources/FIPS_Code.csv"
fips_df = pd.read_csv(fips_file)
fips_df.head()

        state  fips postal_code
0     Alabama     1          AL
1      Alaska     2          AK
2     Arizona     4          AZ
3    Arkansas     5          AR
4  California     6          CA

In [4]:
fips_df.columns.values

array(['state', 'fips', 'postal_code'], dtype=object)

In [5]:
connection_string = "root:NewPassword@localhost:3306/election_2018_db"
engine = create_engine(f'mysql://{connection_string}')

In [6]:
engine.table_names()

C:\Users\m_ron\Anaconda3\envs\PythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

['candidate_finance',
 'congressional_district_employment',
 'congressional_district_unemployment',
 'fips',
 'house_candidate',
 'senate_candidate',
 'us_congress_list']

In [8]:
fips_df.to_sql(name='fips', con=engine, if_exists='append', index=False)

In [9]:
#confirm successful deposit into MySQL table
pd.read_sql_query('select * from fips', con=engine).head()

   id       state  fips postal_code
0   1     Alabama     1          AL
1   2      Alaska     2          AK
2   3     Arizona     4          AZ
3   4    Arkansas     5          AR
4   5  California     6          CA